django
dj-database-url
dj-static
gunicorn
psycopg2
static
django_jasmine
django_nose
South
django_compressor
BeautifulSoup
djangorestframework
markdown
pyyaml
django-userena
PIL
mock
django-simple-captcha