{% load i18n %}
<div class="row" style="text-align:center;">
    <div class="col-lg-4">
        <h2>{% trans "Personal Info" %}</h2>
        <img src="http://placehold.it/200x100/365fa5" alt="photo">
        <p>{% trans "Username" %}: {{ user }}</p>
        <p>{% trans "Email" %}: {{ user.email }}</p>
        <p><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></p>
        <p><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></p>
        <p><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></p>
        <h2>{% trans "Boardinos" %}</h2>
        <button class="btn btn-lg btn-success" data-toggle="modal" data-target=".bs-example-modal-sm">{% trans "Crear nuevo" %}</button>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p>¡{% trans "Introduce el Captcha para generar un Tablero" %}!</p>
                    <form action="/new" method="post">
                        {% csrf_token %}
                        <div>{{ board_form.captcha }}</div>
                        <br>
                        <input type="submit" id="new_board" class="btn btn-lg btn-success" href="/new" rel="nofollow" value="{% trans "Start &raquo;" %}"/>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        {% for board in user.get_profile.boardinos.all %}
            <p><a href="/{{ board.hash }}" alt="{{ board.hash }}">{{ board.hash }}</a></p>
        {% endfor %}
    </div>
    <div class="col-lg-8">
        <div class="row">
            {% for board in user.get_profile.boardinos.all %}
                <div class="col-lg-6">
                    <a href="/{{ board.hash }}" alt="{{ board.hash }}">
                        {% if board.screenshot %}
                            <img src="{{ board.screenshot }}" alt="screenshot">
                        {% else %}
                            <img src="http://placehold.it/300x150/fff" alt="default">
                        {% endif %}
                        <p>{{ board.hash }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>