<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Boardino - Project Management Whiteboard</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/board.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<!--<script type="text/javascript" src="/static/js/lib/jquery.ui.touch.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.ui.ipad.altfix.js"></script>-->
    <!--<script type="text/javascript">

    $.extend($.support, {
        touch: "ontouchend" in document
    });

    $.fn.addTouch = function() {
        if ($.support.touch) {
                this.each(function(i,el){
                        el.addEventListener("touchstart", iPadTouchHandler, false);
                        el.addEventListener("touchmove", iPadTouchHandler, false);
                        el.addEventListener("touchend", iPadTouchHandler, false);
                        el.addEventListener("touchcancel", iPadTouchHandler, false);
                });
        }
    };

    var lastTap = null;
    </script>-->
    <script data-main="/static/js/application.min" src="/static/assets/vendor/require.js"></script>
    <script type="application/javascript">
        window['ws_host'] = '23.21.155.34:8888';
    </script>
    <meta name = "viewport" content = "initial-scale = 1.0">
</head>
<body>
    <ul id="menu">
        <li><a href="#" id="set-password"><span class="ui-icon ui-icon-locked"></span>Set password</a></li>
        <li><a href="#" id="set-alias"><span class="ui-icon ui-icon-tag"></span>Set an alias</a></li>
        <li><a href="{% url 'board.views.clone' board_hash %}" target="_blank" id="clone-board"><span class="ui-icon ui-icon-squaresmall-plus"></span>Clone this board</a></li>
    </ul>
    <div id="toolbar">
        <a id="menu_tool"></a>
        <a id="postit_tool" class="postit_tool_disabled"></a>
        <div id="pencil_tool" style="height:50px; width: 50px">
            <a id="selected_pencil_tool" class="pencil_tool_disabled"></a>
            <a id="pencil_black_tool" class="pencil_black_tool_disabled"></a>
            <a id="pencil_red_tool" class="pencil_red_tool_disabled"></a>
            <a id="pencil_blue_tool" class="pencil_blue_tool_disabled"></a>
            <a id="pencil_green_tool" class="pencil_green_tool_disabled"></a>
        </div>
        <a id="rectline_tool" class="rectline_tool_disabled"></a>
        <a id="eraser_tool" class="eraser_tool_disabled"></a>
        <a id="clear_lines_tool" class="clear_lines_tool_disabled"></a>
    </div>
    <div id="dialog" title="Cleaning drawings..." style="display: none;">
        Are you sure about this?
    </div>
    <div class="modal fade" id="set-password-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Set boardino password</h4>
                </div>
                <div class="modal-body">
                    <div id="set-password-error" class="alert alert-danger" style="display: none">
                        <span id="set-password-error-msg">There is a password mismatch</span>
                    </div>
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="board-password" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="board-password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="board-password2" class="col-lg-2 control-label">Confirm password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="board-password2" placeholder="Confirm password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="set-password-btn" data-loading-text="saving..." >Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="set-alias-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Set boardino alias</h4>
                </div>
                <div class="modal-body">
                    <div id="set-alias-error" class="alert alert-danger" style="display: none">
                        <span id="set-alias-error-msg">Only alphanumeric characters allowed</span>
                    </div>
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="board-alias" class="col-lg-2 control-label">Alias</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="board-alias" placeholder="New boardino alias">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="set-alias-btn" data-loading-text="saving..." >Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="board">
        <canvas id="board-canvas" width="3000" height="1500"></canvas>
    </div>
    <div id="boardino_logo"><a href="http://www.boardino.com"><img src="/static/images/logo_small.png"/></a></div>
    <div id="mapale_logo"><a target="_blank" href="http://www.mapalesoftware.com"><img src="/static/images/mapale_logo.png"/></a></div>
    <div id="notifications">
        <div id="connected_users">1</div>
    </div>
    <!-- uservoice feedback widget-->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/darBV5SSOPc4nv540weXKg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
</body>
</html>
