{% extends "base.html" %}
{% load i18n %}
    {% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% if not user.is_authenticated %}
        {% include '_home.html' %}
    {% else %}
        {% include '_user_home.html' %}
    {% endif %}

    <!-- <hr> -->
    <!--<a href="https://github.com/mapale/boardino">
        <img style="position: absolute; top: 0; left: 0; border: 0; width: 149px; height: 149px; z-index: 2000"
             src="http://aral.github.com/fork-me-on-github-retina-ribbons/left-orange@2x.png"
             alt="Fork me on GitHub">
    </a>-->
    <footer>
        <p style="text-align: center">&copy; {% trans "Mapalé Software" %} 2014</p>
        <small id="author-photo">{% trans "Imagen" %} - <a href="https://creativecommons.org/licenses/by/2.0/">{% trans "Derechos reservados" %}</a> {% trans "por" %} <a href="https://www.flickr.com/photos/_dchris/">_dChris</a></small>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    {% endblock %}